@font-face {
  font-family: "PT_Sans";
  src: url("../Fonts/PT_Sans/PTSans-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("../Fonts/Ubuntu/Ubuntu-Regular.ttf");
}

.font_ubuntu {
  font-family: "Ubuntu";
}

.font_ubuntu {
  font-family: "PT_Sans";
}
