@import "fonts";
@import "elements";
@import "adaptiv";

body,
html {
  margin: 0;
  padding: 0;

  min-height: 100vh;

  overflow-x: hidden;

  &.burger_opened {
    overflow: hidden;
  }
}

.container {
  width: 96vw;
  margin: 0 auto;
}

h1,
h3 {
  font-family: "Ubuntu";
  font-weight: lighter;
}

header {
  display: flex;

  align-items: center;

  height: 10vh;
  width: 100vw;

  background-color: #ffdd30;

  box-sizing: border-box;

  & .navigation {
    display: flex;

    justify-content: space-between;

    & h1 {
      color: #1b1717;
      margin: 0;

      cursor: pointer;
    }

    & img {
      transition: 0.3s;

      width: 32px;
      height: 32px;

      cursor: pointer;

      &:hover {
        transition: 0.3s;

        scale: 1.1;
      }
    }
  }
}

.logo {
  display: flex;

  align-items: center;
  gap: 20px;
}

.navigation_interface {
  height: 80vh;
  width: 18vw;

  padding: 10px 10px;

  display: flex;

  flex-direction: column;

  gap: 10px;

  background-color: #ffdd30;
  border-radius: 4px;

  box-sizing: border-box;

  & section {
    transition: 0.3s;

    display: flex;

    align-items: center;

    text-align: center;

    gap: 10px;

    cursor: pointer;

    & img {
      width: 26px;
      height: 26px;
    }

    & p {
      margin: 0;
    }

    &:hover {
      transition: 0.3s;

      scale: 1.05;
    }
  }
}

.removing {
  margin-top: auto;
}

main:not(.partial_window) {
  display: flex;

  gap: 15px;

  height: 80vh;

  margin-top: 2vw !important;

  & h1 {
    margin-top: 0;
  }
}

table {
  max-height: 80vh;
  width: 100%;

  border-collapse: collapse;

  overflow-y: scroll;

  & td {
    border: 1px solid black;

    font-family: "PT_Sans";
    text-align: center;
  }
}

.content {
  display: flex;

  flex-direction: column;

  width: 100%;
  height: 100%;

  & h1 {
    font-family: "Ubuntu";
    font-weight: lighter;
  }
}

.main_page_content_box {
  margin: 0 auto;
  padding: 15px;

  width: 80%;
  height: 100%;

  background: #d9d9d9;
  border-radius: 4px;
}

.remark_content_box {
  display: flex;

  justify-content: space-between;
}

.input_field.large_field {
  width: 40%;
}

.input_field {
  display: flex;

  flex-direction: column;

  gap: 10px;

  width: 30%;

  & h1 {
    margin: 6px 0;
  }

  & .base_field {
    width: 100%;

    & p {
      margin-bottom: 5px;

      font-family: "Ubuntu";
      font-size: 1.1em;
    }

    & input,
    select {
      width: 100%;

      box-sizing: border-box;
    }
  }

  & p {
    margin: 0;
  }

  & input,
  select {
    height: 5vh;

    background: #ececec;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;

    &.wrong {
      border-color: brown;
      border-width: 2px;
    }
  }

  & button:not(.blue_button) {
    margin-left: 0 !important;
  }
}

.product_data_box {
  display: flex;

  flex-direction: column;

  gap: 1px;

  width: 30%;

  padding: 5px;

  background-color: #ececec;
  border: 1px solid black;
  border-radius: 4px;

  & p {
    margin: 0;

    & span {
      font-weight: bolder;
    }
  }
}

.parametrs {
  display: flex;

  flex-direction: column;

  gap: 15px;
}

.parametr {
  position: relative;
  display: flex;

  align-items: center;

  gap: 10px;

  & input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;

    position: absolute;

    &:checked + label:after {
      transition: 0.3s;

      opacity: 1;
    }
  }

  & label {
    font-size: 1.2em;

    padding-left: 30px;

    cursor: pointer;
  }

  & label:before {
    position: absolute;

    content: "";

    width: 20px;
    height: 20px;

    top: 0;
    left: 0;
    z-index: 1;

    border: 2px solid #0e4ec0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  & label:after {
    transition: 0.3s;

    position: absolute;

    content: "";

    width: 20px;
    height: 20px;

    top: 0;
    left: 0;
    z-index: 2;

    opacity: 0;

    background-image: url(../Pictures/иконки/check_24dp_FILL0_wght400_GRAD0_opsz24.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 2px 1px;
  }
}

.options_choise {
  display: flex;

  flex-direction: column;

  gap: 15px;
}

.center {
  justify-content: center;
  align-items: center;
}
